 body {
    background:#19671B;
    font-family: Arial, Helvetica, sans-serif;
 }

 h1 {
    color:black;
    text-align: center;
 }

 .projects { 
   display:flex;
    flex-wrap:wrap; 
    justify-content: center;
}

.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white;
border-radius: 10%;
text-align: center;
}

.project img{
width: 100%;
height: auto;
margin: 10px;
border: 2px solid black;
display: block;
margin: 10px auto;
}